<nav>
  <h2>RBAC</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (user) { %> <!-- Check if user exists -->
      <li><a href="/user/profile">Profile</a></li>
      <% if (user.role === 'ADMIN') { %> <!-- Check if user is admin -->
        <li><a href="/admin/users">Manage Users</a></li>
      <% } %>
      <li><a href="/auth/logout">Logout</a></li>
    <% } else { %> <!-- If no user, show register/login links -->
      <li><a href="/auth/register">Register</a></li>
      <li><a href="/auth/login">Login</a></li>
    <% } %>
  </ul>
</nav>
